<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>RPLIDAR A2M6</name>
  <sdf version="1.5">a2m6.sdf</sdf>

  <author>
    <name>Christian Merkl</name>
    <email>knueppl@gmx.de</email>
  </author>

  <description>
    The RPLIDAR A2M6 scanner. The range is 16 meter at 10 Hz.
  </description>
</model>
