<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Laser Leveling Platform</name>
  <sdf version="1.5">laser-leveling.sdf</sdf>

  <author>
    <name>Christian Merkl</name>
    <email>knueppl@gmx.de</email>
  </author>

  <description>
    A laser leveling platform that levels a 2D laser scanner.
  </description>
</model>
