<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>WebCam Logitech C920</name>
  <sdf version="1.5">c920.sdf</sdf>

  <author>
    <name>Christian Merkl</name>
    <email>knueppl@gmx.de</email>
  </author>

  <description>
    A WebCam that publish images on a ROS topic.
  </description>
</model>
