<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Wheel Hub Motor HHJ30NT36V</name>
  <sdf version="1.5">hhj30nt36v.sdf</sdf>

  <author>
    <name>Christian Merkl</name>
    <email>knueppl@gmx.de</email>
  </author>

  <description>
    The wheel hub motor HHJ30NT36V somewhere from a Chinese factory. Information about the motor actually doesn't
    exist. It should have 350W at 36 V. And the weight is 4 kg (measured).
  </description>
</model>
